$pureblack: #000;
$fakeblack: #282828;
$royalblue: #28387b;
$fakered: #ff5131;
$grey: #8e8e8e;
$fakewhite: #f9f9f9;
$purewhite: #ffffff;

$shadow1: 0 6px 30px 0 rgba(40, 40, 40, 0.2);
$shadow1-hover: 0 0 50px 0 rgba(40, 40, 40, 0.2);

$sans: "Helvetica Neue", sans-serif;
$mono: "Roboto Mono", sans-serif;
$serif: "Gilda Display", serif;

$padding1: 11.6%;
$padding11: 10%;
$padding2: 7.2%;
$padding3: 7.4%;
$padding4: 2%;

$tabletUp: 769px;
$tablet: 768px;
$tabletDown: 767px;
$smallDown: 960px;
$mediumDown: 1024px;

$cubic1: 0.215, 0.61, 0.355, 1;
